/* $Id$ */
/*
  simplicity screen styles

  table of contents:
    layout
    typography
    forms
*/

/* layout
----------------------------------------------- */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0px; background-color: #ffffff; font-size: 16px;
  }
#content, #tools_box {
  border-right: #cccccc 2px solid; padding-right: 10px; padding-left: 20px; float: left; padding-bottom: 0px; width: 650px; line-height: 1.6em; padding-top: 0px; background-color: #ffffff;
  font-size: 80%; color: #666666;  margin-bottom: 10px;
  }
#wrapper {
  margin: 0px auto; width: 940px; text-align: left;
  padding: 0px 5px 9px 5px;
  }
#nav {
  padding-left: 5px; background: #bfbfbf; margin: 1px 0px; height: 35px; text-align: right;
  font-size: 80%; padding-right: 10px;  border-bottom: 7px solid #666666;
  }

/* typography
----------------------------------------------- */
.meta, .links, .submitted {
  color: #cccccc;
}

#sidebar_right ul.links{
  text-align:left;
}

h1 {
  font-size:16px;
}

h1.site-name{
  font-size: 150%;
  font-family: georgia, "times new roman", times, serif;
  color: #000000;
  text-decoration:none;
  font-weight: normal;
  text-indent: -10000px;
  overflow: hidden;
  /*background-image:url(images/banner.jpg);*/
  background-repeat: no-repeat;
  height:227px;
  width:750px;
  overflow:hidden;
  width:auto;
}

h1.site-name a, h1.site-name a:hover{
  font-family: georgia, "times new roman", times, serif;
  color: #000000;
  text-decoration:none;
}

/* Now override the above rules, so an image would appear there */
/*h1.site-name {
  text-indent: 0;
  background-image: none;
}

#header_banner {position:relative;}
#header_banner_1, #header_banner_2 {position:absolute;}
*/
h1 span.site-slogan {
  color: #ff9600;
}

#content h1 {
  border-bottom: 2px dotted #000000;
  color: #ff9600;
  font-size: 170%;
  font-family: "times new roman", times, serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-bottom: 2em;
  }

h2 {
  border-bottom: 1px dotted #000000;
  color: #ff9600;
  font-size: 120%;
  font-family: "times new roman", times, serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  }

h3 {
  border-bottom: 1px dotted #000000;
  color: #ff9600;
  font-size: 100%;
  font-family: "times new roman", times, serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  }

.block h3 {
  font-size: 90%;
  font-weight: bold;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #ff9600;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 5px; font-variant:small-caps;
  letter-spacing: normal;
  }

#footer {
  font-size: 60%;
  border-top: 1px solid #cccccc;
  text-align: center;
}


  /* links
  ------------------------------------------- */
  a, a:visited, a:active {
    font-size: 80%;
    text-decoration: none;
    font-size: 100%;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ff9600;
  }

  a:hover {
    text-decoration: underline;
    color:#fff;
    background-color: #ff9600;
  }

  a.meta:link, a.links:link {
    color: #8d8c53; text-decoration: none; font-size: 100%;
  }
  a.meta:visited, a.links:visited {
    color: #8d8c53; text-decoration: none; font-size: 100%;
  }
  a.meta:active, a.links:active {
    color: #bbbc61; text-decoration: none; font-size: 100%;
  }
  a.meta:hover, a.links:hover{
    color: #d16d39; text-decoration: none; font-size: 100%; text-align:right; text-decoration: underline;
  }

  a.mainnav:hover {
  text-decoration: underline; border-right: #444444 3px solid; color: #444444; text-decoration: none
  }

.clearthis {
  clear: both; font-size: 1px; float: none; color: #fff
}
.clear{clear:both;}

.node{clear:both}

#sidebar_right {
  padding-right: 15px; margin-top: 10px;  float: right; padding-bottom: 0px; line-height: 1.3em; padding-top: 0px; width: 235px; font-size: 100%; background-repeat: no-repeat; background-position: top center;
}
#sidebar_right ul {
  padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; line-height: 15px; padding-top: 0px
}
#sidebar_right li {
  margin: 0px;
  /*height: 20px; */
  /*border-bottom: #ececec 1px solid; */
  list-style-type: none
}
#sidebar_right a {
  display: block; color: #666666; text-decoration: none; font-size: 100%; font-family: georgia, "times new roman", times, serif; font-weight: bold; padding: 3px;
}
#sidebar_right a:hover {
  background: #bfbfbf; color: #fff;
}

.quote {
  background-color: #cccccc;
  border: 1px solid #b4b4b4;
  color: #000000; padding: 2px;
}

/* Core styles overrides: */
li.leaf, li.collapsed, li.expanded {
  list-style-image:none;
}

/* Added by z.stolar */
/* Align images on the left */
#footer{clear:both}
.field-field-images img,
.field-field-3rd-party-image img
{
  float: right;
  margin: 0 0 2em 1em;
}
#block-boxes-presentation_en, #block-boxes-presentation_fr, #block-block-2 {
  color:#666666;
  font-size:0.7em;
  font-style:italic;
  font-weight:bold;
}
.messages {border: 1px solid; padding: 1em}
.status{color: green}
.error{color: red}

/* Fix the featured slideshow text */
.slide-info {width: 500px; left:20px; text-align: left;}